modules = ["nodejs-18"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["zip", "unzip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Sheriff Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Bot"

[[workflows.workflow]]
name = "Sheriff Bot"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./node_modules/.bin/ts-node src/index.ts"

[[workflows.workflow]]
name = "Discord Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33315
externalPort = 3000

[[ports]]
localPort = 36747
externalPort = 3001

[deployment]
deploymentTarget = "vm"
run = ["node", "src/index.js"]
